@use "../app.scss" as *;

.mainBlock{
    position: fixed;
    width: 65%;
    height: 620px;
    left: 77px;
    top: 0px;
    z-index: 6;
    background-color: white;
    border-radius: 20px 0 0 20px;
    overflow: scroll;

    .title-timeline {
        margin: 0 0% 3% 9%;
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 23px;
        color: $dark;
    }

    .newsfeed-container{
        display: grid;
        grid-template-columns: 50% 50%;
        width: 100%;
        height: 100%;
    }

}