@use "../app.scss" as *;

.mainBlock{
    position: fixed;
    width: 65%;
    height: 620px;
    left: 77px;
    top: 0px;
    z-index: 6;
    background-color: white;
    border-radius: 20px 0 0 20px;
    overflow: scroll;
}