@use "../app.scss" as *;

.newsfeed{
    width: 65%;

    h1{
        width: 169px;
        height: 24px;
        left: 0%;
        right: 78.69%;
        top: 2%;
        bottom: 96.82%;
        padding-bottom: 10%;
        padding-left: 3%;
    
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 23px;
        /* identical to box height */
    
    
        color: #000000;
    }

    .newsfeed-container{
        display: grid;
        grid-template-columns: 50% 50%;
        width: 100%;
        height: 100%;

        .container-post{
            margin: 2% auto;

            .thumbnail-img{
                width: 330px;
                height: 249px;
                left: 50.19%;
                right: 8.2%;
                top: 8.34%;
                bottom: 58.68%;
                filter: drop-shadow(5px 10px 4px rgba(0, 0, 0, 0.25));
                border-radius: 35px;
            }

            .thumbnail-container{
                padding-top:3%;
                display: flex;

                .profil-thumbnail-img{
                    width: 56px;
                    height:57px;
                    left: 0%;
                    right: 92.94%;
                    top: 42.38%;
                    bottom: 50.07%;
                    border-radius: 100px;
                    
                }

                .pseudo{
                    width:72px;
                    height:14px;
                    left: 8.7%;
                    right: 82.22%;
                    top: 43.44%;
                    bottom: 54.7%;
                    font-family: 'Raleway';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 12px;
                    line-height: 14px;
                    color: #000000;
                }
            }
        }
    }
}


