@use "../app.scss" as *;

.sideBar{
    background: $bg-linear;
    width: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .iconTop{
        img {
            border-radius: 50%;
            width: 65px;
            padding: 8%;
            margin: 20% 0;
        }
    }

    .iconsBottom{
        display: flex;
        flex-direction: column;
        
        a {
            color: $dark;

            &:hover{
                color: rgba(36, 36, 36, 0.712);
                transition: 0.5s;
            }

            svg {
                font-size: 25px;
                margin: 20% 0;
            }
        }
        
    }
}