@use "../app.scss" as *;

.container-sidebar{
    width: 90px;
    position: relative;
    z-index: 5;

    .sideBar{

        width: 90px;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        position: fixed;
        z-index: 6;
    
        .iconTop{
            margin: 0 3%;
            img {
                border-radius: 50%;
                width: 58px;
                margin: 30% 0;
            }
        }
    
        .iconsBottom{
            display: flex;
            flex-direction: column;
            margin: 0 10%;
    
            a {
                color: $dark;
                margin: 30% 0;
    
                &:hover{
                    color: rgba(36, 36, 36, 0.712);
                    transition: 0.5s;
                }
    
                svg {
                    font-size: 25px;
                }
            }
            
        }
    }
}
