@use "../../app.scss" as *;

.wrapper-icon{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #8c8c8c;
    border: none;
    background: none;

    svg{
        font-size: 1.4rem;
        margin-bottom: 6%;
    }

    p{
        font-size: 0.7rem;
        font-weight: 600;
    }

    &:hover, &:focus {
        color: $aubergine-light;
        transition: 0.5s;
    }
}