@use '../../app.scss' as *;

.login-form-wrapper, .register-form-wrapper{
    background-color: $light-grey;
    border-radius: 24px 0 0 24px;
    width: 100%;

    .login-form-container{
        height: 420px;
    }
    .register-form-container{
        height: 520px;
    }

    .login-form-container, .register-form-container{

        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;

        /* Register */
        .container-title-form-register{
            display: flex;
            justify-content: flex-start;
            width: 80%;
            margin-top: 2%;

            .logoForm{
                display: none;
            }

            .title-form-register{
                font-weight: 300;
                font-size: 1.3rem;
                width: 200px;
            }
        }
        /* Fin Register */

        img{
            width: 8em;
            border-radius: 30px;
            height: 6em;
            object-fit: cover;
            margin-top: 2%;
        }

        .login-form, .register-form{
            display: flex;
            flex-direction: column;
            width: 100%;
            align-items: center;

            .input-wrapper{
                width: 100%;
                text-align: center;

                .input-login, .input-register{
                    border: none;
                    padding: 20px;
                    margin: 2% 0;
                    border-radius: 10px;
                    width: 80%;
    
                    &:focus{
                        outline: 2px solid $aubergine-light;
                    }
                }
            }

            .wrapper-submit-form{
                width: 80%;
                display: flex;
                justify-content: flex-end;
                margin-top: 5%;

                .submit-login-form, .submit-register-form{
                    border: none;
                    border-radius: 24px;
                    background-color: $aubergine-dark;
                    color: $white;
                    padding: 2%;
                    width: 140px;
                    font-size: 1.1rem;

                    &:hover{
                        background-color: $aubergine-light;
                        transition: 0.5s;
                    }
                }
            }
            
            .wrapper-remember-me-help{
                display: flex;
                justify-content: flex-end;
                align-items: center;
                width: 80%;
                margin: 2% 0;

                .wrapper-remember-me{
                    display: block;
                    width: 160px;
                    
                    label{
                        margin-left: 2%;
                        cursor: pointer;
                    }
                }
                

                a{
                    margin-left: 4%;
                    color: $dark;

                    &:hover{
                        text-decoration: underline;
                    }
                }
            }
        }
        
    }

    .login-form-container{
        padding-bottom: 3%;
    }

    .join-aubergines, .already-member{
        text-align: center;
        font-size: 1.2rem;
    }

    .join-aubergines{
        margin-top: 10%;
    }

    .wrapper-link-register{
        display: flex;
        justify-content: center;
        margin-top: 3%;

        .link-register{
            width: 150px;
            background-color: #370B33;
            color: #fff;
            padding: 2%;
            border-radius: 30px;
            text-align: center;
            font-size: 1.1rem;
            font-weight: 500;

            &:hover{
                background-color: $aubergine-light;
                transition: 0.5s;
            }
        }

    }
    
}

@media screen and (max-width: 888px) {
    .login-form-wrapper, .register-form-wrapper{
        height: auto;
        border-radius: 24px;
        width: 80%;
        
        .login-form-container, .register-form-container{

            height: auto;

            .container-title-form-register {
                justify-content: center;
                width: 100%;
                margin-top: 2%;
                flex-direction: column;
                align-items: center;

                .logoForm{
                    display: block;
                }

                img{
                    margin-top: -7%;
                }

                .title-form-register {
                    width: 300px;
                    text-align: center;
                    margin-top: 2%;
                }
            }

            .login-form, .register-form{
                    width: 100%;

                .input-login, .input-register{
                    padding: 15px;
                    margin: 1.3% 0;
                }
                .wrapper-submit-form {
                    margin-top: 1%;
                }
                .wrapper-remember-me-help{
                    display: flex;
                    flex-direction: column;
                    align-items: flex-end;
                    margin: 2% 0;
                }
            }
        }

        .wrapper-link-register {
            margin: 3% 0;
        }
    }

}
@media screen and (max-width: 414px) {
    .login-form-wrapper, .register-form-wrapper {
        .login-form-container, .register-form-container{
            img{
                margin: -10% 0 10% 0;
            }
            
            .login-form, .register-form{
                .input-login, .input-register{
                    padding: 20px;
                    margin: 2%;
                }

                .wrapper-submit-form{
                    margin: 5% 0;

                    .submit-login-form, .submit-register-form{
                        padding: 4%;
                    }
                }
            }
        } 

        
        .wrapper-link-register{
            margin: 8% 0;

            .link-register{
                padding: 4%;
            }
        }

        .join-aubergines{
            padding: 0 10%;
        }
    }
}

@media screen and (max-width: 375px) {

    .register-form-wrapper {
        .register-form-container{
            .register-form{
                .input-register{
                    padding: 15px;
                    margin: 2%;
                }
            }
        }

        .wrapper-link-register{
            margin: 2% 0 3% 0;
        }
    }
}