@use "../../app.scss" as *;

.user-news-feed-layout{
    display: flex;

    .container-post, .container-text-post{
        padding: 2% 4%;
    }

    .container-text-post{
        width: 50%;
        position: relative;

        .icons{
            display: flex;
            position: absolute;
            bottom: 26%;

            .icon-display:nth-child(1){
                margin-right: 13px;
            }
        }
    }
}

@media screen and (max-width: 886px) {
    .user-news-feed-layout{
        flex-direction: column;
        margin-top: 3%;

        .container-post, .container-text-post{
            width: 100%;
        }

        .container-text-post{
            .icons{
                position: relative;
                padding-top: 10px;
            }
        }
    }
}

