@use "../app.scss" as *;

.rightBlock{
    position: fixed;
    width: 400px;
    height: 100vh;
    right: 0;
    top: 0px;
    z-index: 6;
    background-color: $light-grey;
    border-radius: 45px 0 0 0;
    overflow: scroll;
    transition: transform .3s cubic-bezier(0, .52, 0, 1);
    
    .sidebar-right{

        .searchBar-wrapper{
            position: fixed;
            width: -webkit-fill-available;
            background: whitesmoke;
            border-radius: 45px 0 0 0;
            top: 0px;
            padding: 20px;

            /* Barre de recherche */
            .searchbar-container{
                display: flex;
                justify-content: space-between;
                align-items: center;
            
                .icons-searchbar{
                    border: 1px solid #531a4d;
                    color: #531a4d;
                    border-radius: 50%;
                    height: 30px;
                    background: none;
                    width: 30px;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    &:hover{
                        background-color: #531a4d;
                        color: $white;
                        transition: 0.5s;
                    }
                }
            }
        }
        

        .block-scrollable{
            overflow: scroll;
            height: 100vh;
            width: 100%;
            padding: 95px 5% 5% 5%;

            /* Titres des sections  */
            .title-wrapper{
                display: flex;
                justify-content: space-between;
                margin: 3% 0;

                .title-section {
                    width: 176px;
                    height: 25px;
                    font-family: 'Raleway';
                    font-weight: 600;
                    font-size: 16px;
                    color: #818181;
                }

                .link-see-all{
                    font-size: 12px;
                    font-weight: 600;
                    color: #1D4178;

                    &:hover{
                        text-decoration: underline;
                    }
                }
            }

            /* Blocs de souscription à un compte */
            .newsfeed-container{
                width: 100%;
                margin: 3% 0;

                .profil{
                    display:flex;
                    justify-content: space-between;
                    margin: 0 4%;

                    .wrapper-img-username{
                        display: flex;
                        width: 50%;
                        align-items: center;

                        .profil-thumbnail-img{
                            width: 40px;
                            height:40px;
                            border-radius: 100px;
                            object-fit: cover;
                        }

                        .username-right{
                            font-weight: 400;
                            font-size: 12px;
                            color: #000000;
                            padding-left:5%;
                        }
                    }
                    
                    .button-placement{

                        .subscribe{
                            width: 102px;
                            height: 29px;
                            background-color: $aubergine-dark;
                            border-radius: 15px;
                            color: $white;
                            border: none;

                            &:hover{
                                background-color: $aubergine-light;
                                transition: 0.5s;
                            }
                        }
                    }
                }
            }

            .thumbnail-saved{
                display: flex;
                flex-wrap: wrap;
                justify-content: space-evenly;
                align-items: center;

                .thumbnail{
                    width: 35%;
                    height: 90px;
                    background-size: cover !important;
                    background-repeat: no-repeat !important;
                    border-radius: 15px;
                    background-position: center !important;
                    margin: 2% 0;
                }
            }

            .wrapper-activities{
                margin: 0 4%;

                .last-activities{
                    display: flex;
                    align-items: center;
                    margin: 2% 0;
        
                    svg{
                        margin-right: 2%;
                        font-size: 18px;
                    }

                    .text-last-activity{
                        font-weight: 500;
                        font-size: 13px;
                    }
                }
            }
        }
        
    }
}

.in{
    transform: translate3d(0, 0, 0);
    overflow: hidden;
}

.out{
    transform: translate3d(100%, 0, 0);
}

@media screen and (max-width: 414px) {
    .rightBlock{
        width: -webkit-fill-available;
        .sidebar-right{
            .searchBar-wrapper{
                border-radius: 0;
            }
        }
    }

}


