@use "../../app.scss" as *;

.container-profile{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: none;
    background: none;
    cursor: pointer;
    

    .profile-img{
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-size: cover !important;
        background-repeat: no-repeat !important;
        background-position: center !important;
        outline: 3px solid #c7c5c7;
        
        &:hover{
            outline: 3px solid #946c94;
            
        }

        &:hover + p {
            color: #946c94;
            transition: 0.3s;
        }
    }

    .profile-picture{
        width: 200px;
        height: 200px;
        margin: 10%;
        margin-right: 5%;
    }

    .storie-available{
        outline: 3px solid #946c94;
    }

    p{
        font-size: 10px;
        margin-top: 10%;

    }
    .banner-p{
        font-size: 40px;
        margin-top: 10%;
        color:white;
    }
    .banner-container{
        padding:2%;
    }
}

@media screen and (max-width: 775px) {
    .container-profile:nth-of-type(1n+6) {
        display: none;
    }

}

@media screen and (max-width: 688px) {
    .container-profile:nth-of-type(1n+5) {
        display: none;
    }

}

@media screen and (max-width: 592px) {
    .container-profile:nth-of-type(1n+4) {
        display: none;
    }

}

@media screen and (max-width: 446px) {
    .container-profile{
        width: 40px;

        .profile-img{
            width: 40px;
            height: 40px;
        }
    }

}