@use "../../app.scss" as *;

.container-profile{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: none;
    background: none;
    cursor: pointer;

    .profile-img{
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-size: cover !important;
        background-repeat: no-repeat !important;
        background-position: center !important;
        
        &:hover{
            outline: 3px solid #946c94;
            
        }

        &:hover + p {
            color: #946c94;
            transition: 0.3s;
        }
        
    }

    .profile-picture{
        width: 200px;
        height: 200px;
        margin: 15%;
    }

    
    
    .storie-available{
        outline: 3px solid #946c94;
    }

    p{
        font-size: 10px;
        margin-top: 10%;
    }
    .banner-p{
        font-size: 40px;
        margin-top: 10%;
        color:white;
    }
   
}

