@use '../app.scss' as *;

.right-block-wrapper{
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 100vh;
    align-items: center;
    justify-content: center;
}
.login-wrapper, .register-wrapper{
    display: flex;

    .left-block-wrapper, .login-form-wrapper, .register-form-wrapper{
        height: 100vh;
    }

    .left-block-wrapper{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 60%;

        /* Register */
        .logo-register{
            position: absolute;
            width: 200px;
            border-radius: 36%;
            top: 36%;
        }
        /* Fin register */

        .title-left-block, .subtitle-left-block, .icon-home{
            color: $white;
            text-align: center;
        }

        .title-left-block, .subtitle-left-block{
            text-shadow: 10px 10px 4px rgba(0, 0, 0, 0.25);
        }

        .title-left-block{
            margin: 8% auto;
            padding: 0 16%;
            font-size: 1.7rem;
        }

        .wrapper-subtitle-icon{
            display: flex;
            flex-direction: column;
            position: absolute;
            bottom: 4%;

            .subtitle-left-block{
                font-size: 1.3rem;
            }

            .icon-home{
                margin-top: 6%;
                font-size: 2rem;
                color: $aubergine-dark;
    
                &:hover{
                    color: $white;
                    transition: 0.5s;
                }
            }
        }
        
    }

    

}

@media screen and (max-width: 888px) {
    .right-block-wrapper{
        width: 100%;
    }
    
    .register-wrapper{
        margin-top: 3%;
    }

    .login-wrapper, .register-wrapper{
        justify-content: center;
        .left-block-wrapper{
            display: none;
        }
        .login-form-wrapper, .register-form-wrapper{
            width: 80%;
            height: auto;
        }
    }
}